@import "tailwindcss";

/* NProgress Customization */
@import 'nprogress/nprogress.css';

#nprogress .bar {
  background: #10B981 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #10B981, 0 0 5px #10B981 !important;
}

#nprogress .spinner-icon {
  border-top-color: #10B981 !important;
  border-left-color: #10B981 !important;
}