# Map old author info to new
Adithya Ekanayake <adithyaekanayake2@gmail.com> -> Adithya-Ekanayake <22fis@ms.sab.ac.lk>
Adithya-Ekanayake <22fis0550.ms.sab.ac.lk> -> Adithya-Ekanayake <22fis@ms.sab.ac.lk>
Adithya Roshani Ekanayake <22fis0550@ms.sab.ac.lk> -> Adithya-Ekanayake <22fis@ms.sab.ac.lk>